.bg-blue {
  background-color: #273c8e;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.nav-bar > ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  padding: 20px;
  font-size: 19px;
  color: #fff;
  gap: 80px;
  font-weight: 400;
}
ul > li {
  list-style: none;
  cursor: pointer;
}

.avatar {
  display: inline-block !important;
  margin-right: 25px;
  margin-bottom: -10px;
}
